h6{
    line-height: 56px;
    font-size: 16px;
    text-align: center;
}
main{
    height: 545px;
    /*height: 360px;*/
}
.content{
    line-height: 25px;
    font-size: 14px;
    padding: 0 10px;
    text-indent: 2em;
}
span{
    font-weight: 700;
    display: inline-block;
}
.bottom{
    margin-top: 35px;
}
