main {
    line-height: 25px;
    font-size: 14px;
}
.content {
    padding-top: 15px;
}
.boat {
    margin-bottom: 45px ;
}
.boat li {
    width: 660px;
    border-bottom: 1px dashed #b6b6b6;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.boat p {
    padding: 5px 10px 0;
    line-height: 25px;
}