.n-list{
    margin-bottom: 10px;
}
.n-list p {
    float: left;
}
.n-list a{
    width: 100%;
}
.n-list li {
    border-bottom: 1px dashed #b6b6b6;
    padding: 15px 10px 10px;
}
main{
    min-height: 545px;
    line-height: 25px;
    font-size: 14px;
}
.page li{
    float: left;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin: 15px 20px 5px;
    font-size: 12px;
    color: #9dd3e2;
    text-align: center;
    line-height: 16px;

}
.page span{
    display: block;
    width:0;
    height:0;
    margin: 3px auto;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}
.arrow-left{
    border-right: 8px solid #9dd3e2;
}
.arrow-right{
    border-left: 8px solid #9dd3e2;
}
.select {
    border: 1px solid #9dd3e2;
}
.content{
    padding: 15px 10px 0;
    text-indent: 2em;
}
.time{
    text-align: center;
    font-size: 12px;
}
.detail p{
    padding: 15px 0;
    margin-top: 15px;
    border-top: 1px dashed #b6b6b6;
    text-align: left;
}
.detail{
    text-align: center;
}