/*main start*/
main{
    background: url("../images/2.png");
    margin: 0 10px;
    padding: 0;
}
main>div{
    margin-top: 8px;
}
.site-l{
    width: 723px;
    background-color: #fff;
    border-radius: 4px;
    float: left;
    padding: 8px 5px;
}
.site-r{
    width: 210px;
    float: right;
    background-color: #fff;
    border-radius: 4px;
    padding: 5px;
}

/*轮播图*/
.picture{
    position: relative;
    height: 260px;
    cursor: pointer;
}
.picture>a{
    width: 718px;
    height: 251px;
}
.picture a{
    position: absolute;
    top: 10px;
    left: 7px;
    border-radius: 3px;
    margin-top: 2px;
}

.picture ul{
    position: absolute;
    bottom: 17px;
    right: 10px;
}
.picture li{
    float: left;
    width: 17px;
    height: 18px;
    background: url("../images/13.png");
    margin-right: 9px;
    font-weight: 700;
    text-align: center;
}
.picture .i-first{
    background: url("../images/14.png");
}
.picture p{
    position: absolute;
    left: 7px;
    background: rgba(256,256,256,.3);
    width: 718px;
}
.p-top{
    top: 12px;
    height: 15px;
}
.p-bottom{
    bottom: 12px;
    height: 30px;
}


/*物业管理*/
.service-1{
    background-position:  -256px -10px;
}
.service-2{
    background-position:  -318px -10px;
}
.service-3{
    background-position:  -380px -10px;
}
.service-4{
    background-position:  -194px -10px;
}
.service-5{
    background-position:  -442px -10px;
}
.manager i{
    width: 42px;
    height: 33px;
    margin: 2px 7px 0 0;
}

.manager li{
    line-height: 30px;
    border-top: 1px dashed #b6b6b6;
    padding: 6px 0;
}
.caption a{
    margin-right: 10px;
    font-weight: 400;
    color: white;
}
.manager li a{
    color: #5a5d61;
    width: 210px;
}
.manager .s-first{
    border: none;
}
.manager .turn{
    float: right;
    width: 8px;
    height: 10px;
    background-position: -10px -10px;
    margin: 12px 8px 0 0;
}


/*通知*/
.news{
    position: relative;
    background-color: #fff;
    line-height: 35px;
    height: 35px;
}
.icon-2{
    width: 20px;
    height: 20px;
    background-position: -67px -10px;
    margin: 7px;
}
.BBS{
    padding-right: 45px;
    position: absolute;
    top: 0;
    left:0;
    background-color: #fff;
    z-index: 1;
    font-weight: 700;
}

/*关于我们*/
.module{
    display: flex;
    justify-content: space-between;
}
.module img{
    display: block;
    margin: 5px auto 10px;
}
.module .caption{
    background-color: #fff;
    color: #34373c;
}
.m-first .caption{
    background-color: #3a3e43;
    color: white;
}
.content{
    margin-bottom: 10px;
    padding: 8px 8px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow:ellipsis;
    height: 70px;
    position: relative;
}
.m-first {
    width: 265px;
}
.m-first span{
    -webkit-line-clamp: 4;
}
.more{
    position: absolute;
    bottom: -5px;
    right: 8px;
}


/*最新动态*/

.icon-1\(1\){
    width: 12px;
    height: 12px;
    background-position: -42px -10px;
    margin: 5px 4px 0 0;
}
.site-l .n-list{
    line-height: 20px;
    padding: 10px 8px 5px;
}
.n-list li{
    border-top: 1px dashed #b6b6b6;
    padding-top: 9px;
}
.site-l .n-first{
    border: 0;
}

.n-list p{
    float: left;
    color: #5a5a5a;
}
.n-list a{
    width: 700px;
}


/*联系我们*/
.contact ul{
    padding: 8px 0;
}
.contact li{
    padding: 8px 10px;
    font-size: 16px;
    line-height: 23px;
    border: 1px solid #b6b6b6;
    border-radius: 3px;
    font-weight: 700;
    color: #5b5d60;
}
.contact .middle{
    margin: 14px 0;
}

